<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Standard application identifiers -->
	<key>application-identifier</key>
	<string>com.h5gg.app</string>
	<!-- Required to bypass stricter iOS 15 Scene Launch and Background constraints -->
	<key>com.apple.frontboard.debug-applications</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<!-- Bypassing Jetsam constraints explicitly -->
	<key>com.apple.private.memorystatus</key>
	<true/>
	<key>platform-application</key>
	<true/>
</dict>
</plist>